<a href="https://colab.research.google.com/github/NGONGOCHA/baitap/blob/main/v%C3%B2ng%20l%E1%BA%B7p%20while%20for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

BÀI 1: Print First 10 natural numbers using while loop

In [ ]:
count = 0 
while count < 10:
 print(count)
 count = count + 1

0
1
2
3
4
5
6
7
8
9

BÀI 2: Print the following pattern

In [ ]:
rows = int(input("nhập: "))
for i in range(0, - rows, -1):
   for j in range(rows + i, 0, -1):
     print(j, end = " ")
   print()

nhập: 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

BÀI 3: Calculate the sum of all numbers from 1 to a given number

In [ ]:
n = int(input("Nhập n: "))
tong = 0 
i = 1

while i <= n:
    tong = tong + i
    i = i+1 
print("Tổng là", tong)

Nhập n: 73
Tổng là 2701

BÀI 4:  Write a program to print multiplication table of a given number with natural numbers from 1 to 10.

In [ ]:
n = int(input("nhập n: "))
for i in range (1, 11):
 print(n,"x",i,"=",n * i)

nhập n: 13
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

BÀI 5: Display numbers from a list using loop

In [ ]:
list = [1,4,5,7,10,12,15,16]
for a in list:
  print(a)

1
4
5
7
10
12
15
16

BÀI 6: Count the total number of digits in a number

In [ ]:
n = int(input("Nhập n: "))
count = 0
while (n > 0):
    count=count+1
    n =n //10
print(count)

Nhập n: 78
2

BÀI 7: Print list in reverse order using a loop

In [ ]:
list = [3, 6, "hi", "cha", -10]
for i in reversed(list) :
    print(i)

-10
cha
hi
6
3

BÀI 8: Display numbers from -10 to -1 using for loop

In [ ]:
a = int(input("nhập a: "))
b = int(input("nhập b: "))
for i in range(a, b):
 print(i)

nhập a: -10
nhập b: 0
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

BÀI 9: Use else block to display a message “Done” after successful execution of for loop

In [13]:
for i in range(5):
    print(i)
else:
  print("Done")

0
1
2
3
4
Done

BÀI 10: Write a program to display all prime numbers within a range

In [7]:
so1 = int(input("nhập so1: "))
so2 = int(input("nhập so2: "))

for z in range(so1, so2 + 1):
    if z > 1:
        for x in range(2, z):
            if (z % x) == 0:
                break
        else:
            print(z)

nhập so1: 1
nhập so2: 17
2
3
5
7
11
13
17

BÀI 11: Display Fibonacci series up to 10 terms

In [20]:
so1, so2 = 0, 1
print("Fibonacci series:")
for i in range(10):
  print(so1, end=" ")
  fi = so1 + so2
  so1 = so2
  so2 = fi

Fibonacci series:
0 1 1 2 3 5 8 13 21 34

BÀI 12: Find the factorial of a given number

In [19]:
num = int(input("Nhập số: "))
factorial = 1
while num < 0:
    print("math error")
    num = int(input("nhập: "))
if num == 0:
    print("Factorial 0 is 1")
else:
    for i in range(1, num + 1):
        factorial = factorial * i
    print("The factorial of", num, ":", factorial)

Nhập số: -7
math error
nhập: 5
The factorial of 5 : 120

Bài 13: Reverse a given integer number

In [21]:
number13 = int(input("number13: "))
reverse_number = 0
print("Entered Number: ", number13)
while number13 > 0:
    a = number13 % 10
    reverse_number = (reverse_number * 10) + a
    number13 = number13 // 10
print("Reverse Number: ", reverse_number)

number13: 345678
Entered Number:  345678
Reverse Number:  876543

Bài 14: Use a loop to display elements from a given list present at odd index positions

In [27]:
chuỗi = [-2, 7, 'trứng', 'cá', 'cua', 46, 3000, 'tôm tít']
for i in chuỗi[1::2]:
    print(i, end = " ")
    print()

7
cá
46
tôm tít

Bài 15: Calculate the cube of all numbers from 1 to a given number

In [33]:
so15 = int(input("number:"))
for w in range(1, so15 + 1):
  cube = w*w*w
  print("cube của", w, "là: ", cube)

number:11
cube của 1 là:  1
cube của 2 là:  8
cube của 3 là:  27
cube của 4 là:  64
cube của 5 là:  125
cube của 6 là:  216
cube của 7 là:  343
cube của 8 là:  512
cube của 9 là:  729
cube của 10 là:  1000
cube của 11 là:  1331